.pad-bottom-a-tiny-bit {
  padding-bottom: 0.1rem;
}

.size-medium {
  height: 1.1rem;
  width: 1.1rem;
}

.size-small {
  height: var(--small-button-text-size);
  width: var(--small-button-text-size);
}
