.container {
  width: 100vw;

  padding: 1rem;
}

.button-container {
  padding: 2rem;
  display: grid;
  place-items: center;
}

.section-container {
  padding-top: 1rem;
}

.section-container p {
  padding-top: 0.8rem;
}
