.position-user-location-panel {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1rem;
}

.position-find-location-button {
  bottom: 3rem;
  position: fixed;
  width: 100%;
  display: grid;
  place-items: center;
}

.position-zoom-to-user-button {
  position: fixed;
  bottom: 3rem;
  right: 1.5rem;
  z-index: 1;
}

.position-enable-compass-button {
  top: 1rem;
  right: 1rem;
  position: fixed;
}

.position-download-button {
  position: fixed;
  bottom: 3rem;
  left: 1.5rem;
}
