
.mapPin {
  position: absolute;
  transform: translate(-50%, -50%);
}

.container {
  background-color: lightblue;
}

.wrapper {
  background-color: red;;
}

.mapContent {
  background-color: red;
  padding: 10px;
}