.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem;
  touch-action: pan-x;
  background-color: white;
  border-radius: 1rem;
}

.map-item-container {
  height: 12rem;
}

.map-picture {
  border-radius: 1rem;
  height: 100%;
}

.selected-map-outline {
  height: calc(100% - 3rem);
  border: 4px solid #3c84f7;
  padding: 0.3rem;
  border-radius: 1.2rem;
}

.add-map-container {
  width: 7rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-map-content {
  background-color: var(--clear-button-background-color);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--clear-button-text-color);
}

.add-map-text {
  /* font-weight: 520; */
  font-weight: var(--clear-button-font-weight);
}

.add-map-icon {
  font-size: 3rem;
  font-weight: 400;
}

.can-delete-and-share-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.can-delete-and-share-container .buttons-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
