.container {
  /* Content */
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 20px;
}

.manageLocation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.button {
  margin: 10px;
}

.updateLocationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visualizeTransmissionContainer {
  width: 50%;
  margin-top: 10px;
  height: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loadingBarBackground {
  height: 0.3rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;

  /* Position */
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.loadingBar {
  height: 100%;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  position: relative;
  animation: move 1.3s infinite alternate ease-in-out;
}

.loadingBarGreen {
  background-color: rgba(38, 140, 4, 0.484);
}

.loadingBarYellow {
  background-color: rgba(191, 205, 0, 0.724);
}

.loadingBarOrange {
  background-color: rgba(205, 144, 0, 0.601);
}

.loadingBarRed {
  background-color: rgba(205, 65, 0, 0.801);
}

.failureBar {
  height: 1.2rem;
  width: 100%;
  background-color: rgba(199, 0, 0, 0.693);
  border-radius: 0.5rem;

  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
  }
}