.container {
  /* Color */
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.6);

  /* Size and Shape*/
  width: 100%;
  border-radius: 2rem 2rem 0 0;

  /* Position */
  position: fixed;
  bottom: 0px;
  z-index: 3;

  transition: height 0.25s ease-in-out;
}

.expanded {
  height: 98%;
}

.contracted {
  height: 10rem;
}

.debugContainer {
  margin: 15px;
}

.inspectDataButton {
  position: absolute;
  bottom: 1rem;
  left: 20px;
}

.consoleButton {
  position: absolute;
  bottom: 1rem;
  right: 20px;
}
