.handle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  border: 2px solid var(--primary-color);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
}

.active {
  background-color: #a7a7a7;
}
