.container {
  position: relative;
}

.container img {
  border-radius: 0.5rem;
}

.original-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

.original-image-container {
  position: relative;
}

.compared-image-container {
  max-width: 100%;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.compared-image-container img {
  height: 100%;
  width: 100%;
}

.title-text {
  color: white;
  background-color: var(--clear-button-text-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
