.input-container {
  margin: 24px 0px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

.overlay-centered {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-input {
  display: none;
}

.map-preview {
  z-index: 0;
  position: fixed;
}

.add-map-container {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
