.section {
  padding-top: 1rem;
}

.section h3 {
  padding-bottom: 0.5rem;
}

.object {
  padding-bottom: 0.5rem;
}

.container {
  color: black;
}

.button-container {
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
